      <node id="{{ node.id }}" name="{{ node.name }}" type="docker" template="docker" image="{{ node.template }}:latest" ethernet="1" ram="1024" cpu="1" console="rdp" e0dhcp="1" delay="{{delay.value}}" sat="0" icon="Desktop.png" config="0" left="{{ node.map_left }}" top="{{ node.map_top }}">