      <node id="{{ node.id }}" name="{{ node.name}}" type="qemu" template="linux" image="{{ node.template }}" console="vnc" cpu="2" cpulimit="0" ram="4096" ethernet="{{ node.ethernet }}" uuid="{{ range(1,100) | random | to_uuid }}" shutdown="1" firstmac="50:00:00:0{{count.value}}:00:00" qemu_options="-machine type=pc,accel=kvm -vga virtio -usbdevice tablet -boot order=cd" qemu_version="2.12.0" qemu_arch="x86_64" qemu_nic="virtio-net-pci" delay="0" icon="Server.png" config="0" left="{{ node.map_left }}" top="{{ node.map_top }}">