      <node id="{{ node.id }}" name="{{ node.name}}" type="qemu" template="{{ node.template }}" image="veos-4.24.3M" console="telnet" cpu="1" cpulimit="0" ram="2048" ethernet="{{ node.ethernet }}" uuid="{{ range(1,100) | random | to_uuid }}" firstmac="50:00:00:0{{count.value}}:00:00" qemu_options="-machine type=pc,accel=kvm -serial mon:stdio -nographic -display none -no-user-config -rtc base=utc -boot order=d" qemu_version="4.1.0" qemu_arch="x86_64" delay="0" icon="AristaSW.png" config="0" left="{{ node.map_left }}" top="{{ node.map_top }}">