#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{# Jinja2 template to generate a EVE-NG lab Topology #}
{% set count = namespace(value=0) %}
{% set map_left = namespace(value=600) %}
{% set map_top = namespace(value=60) %}
---
lab:
  name: {{ lab_name }}
  file_name: {{ file_name }}
  version: 1
  author: {{ lab_author }}
  description: {{ lab_description }}
  topology:
{% for node,node_attr in topology.nodes.items() %}
{% set count.value = count.value + 1 %}
{% set map_left.value = map_left.value + 200 %}
{% set map_top.value = map_top.value + 10 %}
    - name: {{ node }} 
      id: {{ count.value }}
      template: {{ node_attr.template }}
      ethernet: {{ node_attr.num_interfaces }}
      map_left: {{ range(1,1000) | random }}
      map_top: {{ range(1,1000) | random }}
      interfaces:
{% for int,int_attr in node_attr.interface.items() %}
        - name: {{ int }}
          int_id: {{ int_attr.int_id }}
          net_id: {{ int_attr.net_id }}
{% endfor %}
{% endfor %}
  network:
{% for net,net_attr in network.items() %}
    {{ net }}: {net_id: {{ net_attr.net_id }}, type: {{ net_attr.type }}, visibility: {{ net_attr.visibility }}, icon: {{ net_attr.icon }} }
{% endfor %}